{% extends 'templates/default.twig' %}

{% block title %} - Guidelines{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="bar bar-header">
        <span class="title">Guidelines</span>
    </div>

    <div class="content">
        <div class="well">
            <p class="text-justify"><strong>Important</strong>: Before filling in an application or requesting a title it is strongly recommended that you read and understand this section as we enforce standards that must be met. Failure to fulfill any of the following may result in you being ineligible to apply for any future assignments unless fulfilled.</p>
        </div>

        <span class="article sm"></span><strong>iki</strong>
        <ul>
            <li>Article must be completed in a timely manner, typically <strong>within 36 hours</strong> of it being allocated, unless stated otherwise.</li>
            <li>All relevant aspects of the article must be filled out as per the <a href="http://pcgamingwiki.com/wiki/PCGamingWiki:Sample_article">Sample article</a>. Screenshots of menus, links to relevant forums, etc.
            <li>Research issues and fixes in forums, include common issues into the wiki even if you have not personally experienced them.</li>
            <li>Publicise the article in all relevant forums. This includes any official forums and the <a href="https://steamcommunity.com/discussions/">Steam Community Discussions</a> if available.</li>
            <li>Upkeep of the article must be maintained for <strong>at least 7 days</strong> documenting any new developments such as issues or fixes. If the title is in an active development state such as <a href="http://store.steampowered.com/earlyaccessfaq/">Early Access</a> then the article should at least be maintained <strong>until official release</strong>.
            <abbr title="Undertaking an assignment in Early Access should not be taken lightly, and we expect that the article is maintained to an appropriate standard throughout this process due to development iteration it will undergo.">Why?</a></li>
        </ul><br />

        <span class="report sm"></span><strong>eport</strong>
        <ul>
            <li>Report must be completed in a timely manner, usually <strong>within 3 days</strong> of it being allocated, unless stated otherwise.</li>
            <li>All applicable areas of the report must be filled out as demonstrated in the <a href="http://community.pcgamingwiki.com/page/blog/_/features/port-reports/pc-report-guide-r137">PC Report guide</a>. Requirements, settings, controls, etc.</li>
            <li>Proofread and check for any grammatical errors, spelling mistakes, and any possible factual inaccuracies.</li>
            <li>Publicise the report in all relevant forums. This includes any official forums and the <a href="https://steamcommunity.com/discussions/">Steam Community Discussions</a> if available. We'll do our part by also publicising the article across each of our own official channels.</li>
            <li>It is recommended that you request a few members of staff, such as moderators or other editors, to check over your report once complete to ensure it meets our standards, but it <strong>must be approved</strong> by an <a href="http://community.pcgamingwiki.com/index.php?app=forums&module=extras&section=stats&do=leaders">Administrator</a> before being made public.</li>
        </ul>
    </div>
</div>
{% endblock %}
