.dropdown-menu {
	width: 200px;
    padding: 15px 15px 6px 15px;

    &.dropdown-links {
        width: 160px;
    	padding: 5px 0;
    }

    > form {
        > a > .fa-stack-1x {
            text-align: right;
        	padding-right: 20px;
        }

        > input {
        	width: 100%;
            border-radius: 0;
            margin-bottom: 8px;

            .error {
                border: 1px solid #e74c3c;
            }
        }

        > label {
        	width: 80%;
            position: absolute;

            .fa {
            	right: 0;
                cursor: help;
                position: absolute;
            	margin-top: 10px;
            }

            .fa-exclamation-circle {
            	color: red;
            }
        }
    }
}
