.modal {
    text-align: center;

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        .modal-content {
            border-radius: 0;

            .modal-header {
                color: white;
                width: 100%;
                border: 0;
                height: 45px;
                padding: 0 14px 0 18px;
                text-align: right;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                background-color: #4D5F72;

                span {
                    float: left;
                    font-size: 1.2em;
                    margin-top: 3px;
                    line-height: 2.2em;
                }

                button {
                    border: 0;
                    padding: 0;
                    font-size: 2em;
                    background-color: rgba(0, 0, 0, 0);
                }
            }

            .modal-body {
                &.modal-min {
                    padding: 0;

                    > table > tbody > tr > td {
                        padding-top: 8px;
                    	padding-right: 12px;
                        padding-bottom: 8px;
                        vertical-align: middle;

                        &:first-child {
                            padding-left: 12px;
                        }
                    }
                }
            }

            .modal-footer {
                padding: 0;

                button {
                    width: 100%;
                    border-radius: 0;
                }
            }
        }
    }

    &:before {
        height: 90%;
        content: " ";
        display: inline-block;
        vertical-align: middle;
    }

    &.fade {
        .modal-dialog {
            opacity: 0;

            transform: scale(0.9);
            -ms-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -webkit-transform: scale(0.9);

            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }

        &.in .modal-dialog {
            opacity: 1;
            transform: scale(1);
            -ms-transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}
