.navbar,
.navbar-collapse {
    padding-left: 1.5px;
}

.navbar {
    width: 100%;
    z-index: 1;
    position: fixed;
    border-radius: 0;
    background-color: $brand-color;

    ul.nav {
        > li > a {
            color: white;
            opacity: 0.6;
            font-size: 12pt;
            background-color: $brand-color;
        }

        > li {
            > a:active,
            > a:link,
            > a:visited {
                background-color: $brand-color;
            }

            > a:hover {
                opacity: 1;
                text-decoration: none;
                background-color: $brand-color;
            }

            > a.selected {
                opacity: 1;
            }
        }
    }
}

.navbar > .open {
    a,
    a:focus,
    a:hover {
        background-color: #446CB3;
        opacity: 1;
    }
}
