// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$brand-color: #446CB3;
$primary-color: #6e869d;
$primary-color-light: #c7d2da;
$secondary-color: #576c81;
$wiki-color: #2cc36b;
$report-color: #e28f58;
$button-light: #6e869d;
