{% if flash.password %}
    <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div style="width: 350px" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% include 'components/modals/title.twig' with {'title': 'Change Password'} %}
                </div>

                <form class="form" action="{{ path_for('users.password.update') }}" method="post" autocomplete="off">
                    <div class="modal-body">
                        <label for="password" class="strong">New Password</label>
                        <input class="form-control" type="password" name="password_new" id="password_new" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" required />
                        <div style="color: red" class="password-feedback"></div><br />

                        <label for="password" class="strong">Confirm New Password</label>
                        <input class="form-control" type="password" name="password_confirm" id="password_confirm" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" required />
                        <div style="color: red" class="password-feedback"></div>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" name="_METHOD" value="patch"/>
                        {{ csrf_fields|raw }}
                        <button class="btn submit" id="submit" name="submit" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#myModal').modal();

        $('#password_new, #password_confirm').on('blur', function() {
            var password = $('#password_new');
            var confirm = $('#password_confirm');
            var feedback = $('.password-feedback');
            var submit = $('#submit');

            if(password.val() && confirm.val()) {
                if(password.val() != confirm.val()) {
                    feedback.text("Passwords do not match");
                    submit.attr("disabled", true);
                } else {
                    feedback.text('');
                    submit.removeAttr("disabled");
                }
            }
        });
    </script>
{% endif %}
